@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .gradient-text {
      background: linear-gradient(270deg, #C39F20 -13.41%, #E5E5E5 106.35%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
}